* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1124px;
  margin: 0 auto;
  background-color: #faf9f9;
  color: #555b6e !important;
}

i,
svg {
  pointer-events: none;
}

h1 {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  min-width: 6rem;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 6px;
}

.kick-pad {
  background-color: rgb(156, 221, 221);
}

.kick-pad.active {
  background-color: rgb(25, 219, 219);
}

.snare-pad {
  background-color: rgb(157, 216, 155);
}

.snare-pad.active {
  background-color: rgb(34, 214, 28);
}

.hihat-pad {
  background-color: rgb(210, 195, 155);
}

.hihat-pad.active {
  background-color: rgb(206, 160, 35);
}

.sequencer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hihat-track,
.kick-track,
.snare-track {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
  margin: 1rem 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transform: all 0.5s ease;
  background: white;
  border: none;
  outline: none;
  box-shadow: 2px 2px 6px #89b0ae;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 0.5rem;
  transform: all 0.5s ease;
  background: white;
  border: none;
  outline: none;
  box-shadow: 2px 2px 6px #89b0ae;
}

.play.active {
  background: #bee3db;
  transition: all 0.25s ease;
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
  min-width: 10rem;
  background: white;
  border: none;
  outline: none;
  box-shadow: 2px 2px 6px #89b0ae;
}

.mute {
  border-radius: 0.5rem;
  transition: all 0.25s ease;
  background: white;
}

.mute.active {
  background: #bee3db;
  transition: all 0.25s ease;
  box-shadow: 2px 2px 6px #89b0ae;
}

.tempo {
  margin: 2rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.4rem;
  -webkit-appearance: none;
  -moz-image-region: 1rem 0rem;
  width: 100%;
  position: relative;
  background: white;
  transition: all 0.25s ease;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px #89b0ae;
}

.tempo p {
  text-align: center;
  font-size: 1.25rem;
  margin: 1rem 2rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

input[type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background: #555b6e;
  cursor: pointer;
  -webkit-appearance: none;
}
